html, body {
	background-color: #eeed89;
	color: brown;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 768px;
	padding: 20px 5%;
}

section {
	background-color: #eeed89;
}

h1, h2 {
	line-height: 1;
	
}

h2 {
	margin-top: 40px;
}

h2:first-of-type {
	margin-top: 20px;
}

.logo {
	display: block;
}

img {
	height: auto;
	max-width: 100%;
}

.logo img {
	width: 500px;
}


.icon.heart {
	color: brown;
}

a {
	color: brown;
	font-weight: bold;
}



a code {
	color: black;
}


code.image {
	background-color: #eeed89;
}
